body::before {
  display: block;
  content: "";
  height: 60px;
}
#map {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
#modalayout {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
#cardshadow {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border-radius: 15px;
    cursor: pointer;
}
#cardh3{
  letter-spacing: 5px;
  text-decoration: underline;
}
#servicebox{
  box-shadow: rgba(231, 222, 222, 0.575) 0px 19px 38px,
  rgba(248, 241, 241, 0.801) 0px 15px 12px;
}
@media (min-width: 768px) {
  #news-input {
    width: 40%;
  }
}